/*Maak hier jouw CSS!*/
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 82px auto 82px 82px 82px 50px 82px;
    grid-template-areas:    'header'
                            'b'
                            'c'
                            'd'
                            'e'
                            '.'
                            'footer';

}

.grid-items{
    background-color:#c24949;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 10px;



}
#header{
    grid-area: header;
}

#aside-b{
    grid-area: b;
}
#aside-c{
    grid-area: c;
}
#aside-d{
    grid-area: d;

}
#aside-e{
    grid-area: e;
}
#footer{
    grid-area: footer;
}
@media screen and (min-width: 576px){
    /*Desktop versie*/
    .container{
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50px 174px  auto auto;
        grid-template-areas: 'header c c'
                            ' b c c '
                            ' b e d'
                             'b e .'
                            'footer footer footer'
    ;
    }
}